<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize_to_limit: [User::AVATAR_PROFILE_SIZE, User::AVATAR_PROFILE_SIZE]), class: "gravatar" %>
      <% else %>
        <%= gravatar_for @user, size: User::AVATAR_PROFILE_SIZE %>
      <% end %>

      <h1><%= @user.name %></h1>
      <span><%= @user.email %></span>
       <%= render partial: "users/follow_form", locals: { user: @user } if logged_in? %>
      <% if current_user?(@user) %>
        <div class="edit-profile-link">
          <%= link_to t(".edit_profile"), edit_user_path(@user), class: "btn btn-outline-primary btn-sm" %>
        </div>
      <% end %>
    </section>

    <section class="stats">
      <%= render "shared/stats" %>
    </section>

    <section class="user_details">
      <h4><%= t(".user_info") %></h4>
      <dl>
        <dt><%= t(".birthday") %></dt>
        <dd><%= @user.birthday %></dd>

        <dt><%= t(".gender") %></dt>
        <dd><%= @user.gender&.humanize %></dd>

        <dt><%= t(".joined") %></dt>
        <dd><%= time_ago_in_words(@user.created_at) %> ago</dd>
      </dl>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>
        <%= t(".microposts_count", count: @user.microposts.count) %>
      </h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <div class="d-flex justify-content-center">
        <%== pagy_nav(@pagy) if @pagy %>
      </div>
    <% end %>
  </div>
</div>
